@charset "uft-8";
.mac {
    width: 32px;
    height: 24px;
    border: 0px solid;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 3;
    padding: 0 0;
    box-sizing: border-box;
    cursor: pointer;
}

.mac span {
    display: block;
    width: 30px;
    margin-bottom: 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    line-height: 50px;
    transition: 1s;
    background: #fff;
}

.mac span.active {
    background: #151515;
    border: 2px solid #151515;
}

.mac:hover span.top {
    position: absolute;
    transform: rotate(50deg);
    top: 9px;
}

.mac:hover span.middle {
    position: absolute;
    top: 9px;
}

.mac:hover span.bottom {
    position: absolute;
    top: 0;
    transform: rotate(130deg);
    top: 9px;
}

.mac-sub {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 2;
}

.mac-sub .mac-inner {
    width: 0;
    height: 100%;
    background-color: #3494e6;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    padding: 100px 0;
}

.mac-inner.active {
    width: 400px;
    transition: ease all 1s;
}

.mac-sub .mac-inner ul li {
    width: 90%;
    height: 70px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 70px;
    margin-left: 20px;
}