@charset "uft-8";
@media only screen and (min-width:768px) and (max-width:1024px) {
    .section2 .inner-sec2 {
        padding: 40px 0;
    }
    .section2 .inner-sec2 .left-box {
        width: 100%;
    }
    .section2 .inner-sec2 .right-box {
        width: 100%;
    }
    .section3 .inner-sec3 {
        padding: 0 10px;
    }
    .section3 .inner-sec3 .sec3-left-box {
        width: 80%;
        height: 50%;
    }
    .section3 .inner-sec3 .sec3-right-box {
        width: 100%;
        height: 50%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text p.logo-text {
        text-align: right;
    }
    .inner-sec3 .sec3-left-box .sec3-left-img {
        background-size: 100% 90%;
    }
    .section4 .inner-sec4 {
        padding: 0 10px;
    }
    .section4 .inner-sec4 .sec4-left-box {
        width: 80%;
        height: 50%;
    }
    .section4 .inner-sec4 .sec4-right-box {
        width: 100%;
        height: 50%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text p.logo-text {
        text-align: right;
    }
    .inner-sec4 .sec4-left-box .sec4-left-img {
        background-size: 110% 90%;
    }
    .section5 .inner-sec5 {
        padding: 0 10px;
    }
    .section5 .inner-sec5 .sec5-left-box {
        width: 80%;
        height: 50%;
    }
    .section5 .inner-sec5 .sec5-right-box {
        width: 100%;
        height: 50%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec5 .sec5-right-box .sec5-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec5 .sec5-right-box .sec5-right-text p.logo-text {
        text-align: right;
    }
    .inner-sec5 .sec5-left-box .sec5-left-img {
        background-size: 100% 90%;
    }
    .section6 .inner-sec6 .sec6-left-box {
        padding: 250px 0;
    }
    .section6 .inner-sec6 .sec6-right-box {
        padding: 235px 0;
    }
}

@media only screen and (min-width:481px) and (max-width:767px) {
    .section1 .Ptx {
        padding: 0 10px;
        letter-spacing: 1px;
    }
    .section2 .inner-sec2 {
        padding: 40px 0;
        background: url(../img/me.png) no-repeat 50%;
        background-size: 100% 100%;
    }
    .section2 .inner-sec2 .left-box {
        width: 100%;
        height: 50%;
        padding: 0;
    }
    .section2 .inner-sec2 .right-box {
        width: 100%;
        height: 50%;
    }
    .section2 .inner-sec2 .right-box .right-img {
        width: 50%;
        height: 50%;
        display: none;
    }
    .section2 .inner-sec2 .right-box .right-text {
        width: 100%;
        height: 100%;
    }
    .section3 .inner-sec3 {
        padding: 0 10px;
    }
    .section3 .inner-sec3 .sec3-left-box {
        width: 80%;
        height: 50%;
    }
    .section3 .inner-sec3 .sec3-right-box {
        width: 100%;
        height: 50%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text p.logo-text {
        text-align: right;
    }
    .inner-sec3 .sec3-left-box .sec3-left-img {
        background-size: 100% 90%;
    }
    .section4 .inner-sec4 {
        padding: 0 10px;
    }
    .section4 .inner-sec4 .sec4-left-box {
        width: 80%;
        height: 50%;
    }
    .section4 .inner-sec4 .sec4-right-box {
        width: 100%;
        height: 50%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text p.logo-text {
        text-align: right;
    }
    .inner-sec4 .sec4-left-box .sec4-left-img {
        background-size: 110% 90%;
    }
    .section5 .inner-sec5 {
        padding: 0 10px;
    }
    .section5 .inner-sec5 .sec5-left-box {
        width: 80%;
        height: 50%;
    }
    .section5 .inner-sec5 .sec5-right-box {
        width: 100%;
        height: 50%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec5 .sec5-right-box .sec5-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec5 .sec5-right-box .sec5-right-text p.logo-text {
        text-align: right;
    }
    .inner-sec5 .sec5-left-box .sec5-left-img {
        background-size: 100% 90%;
    }
    .section6 .inner-sec6 {
        justify-content: center;
        padding: 0;
    }
    .section6 .inner-sec6 .sec6-left-box {
        width: 90%;
        height: 50%;
        border-bottom: 1px solid #eee;
        border-right: 0;
        box-sizing: border-box;
        padding: 165px 0;
    }
    .section6 .inner-sec6 .sec6-right-box {
        width: 100%;
        height: 50%;
        padding: 147px 0;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:480px) {
    .section1 .Ptx {
        padding: 0;
        letter-spacing: 1px;
        top: 400px
    }
    .section2 .inner-sec2 {
        padding: 40px 0;
    }
    .section2 .inner-sec2 .left-box {
        width: 100%;
        height: 55%;
        padding: 0;
    }
    .section2 .inner-sec2 .right-box {
        width: 100%;
        height: 45%;
    }
    .section2 .inner-sec2 .right-box .right-img {
        width: 0%;
        height: 0%;
        display: none;
    }
    .section2 .inner-sec2 .right-box .right-text {
        width: 100%;
        height: 55%;
    }
    .section3 .inner-sec3 {
        padding: 0 10px;
    }
    .section3 .inner-sec3 .sec3-left-box {
        width: 80%;
        height: 30%;
    }
    .section3 .inner-sec3 .sec3-right-box {
        width: 100%;
        height: 70%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text .href-box input[type=button] {
        width: 130px;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text p.logo-text {
        font-size: 42px;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec3 .sec3-right-box .sec3-right-text p.logo-text {
        text-align: right;
    }
    .inner-sec3 .sec3-left-box .sec3-left-img {
        background-size: 100% 90%;
    }
    .section4 .inner-sec4 {
        padding: 0 10px;
    }
    .section4 .inner-sec4 .sec4-left-box {
        width: 80%;
        height: 30%;
    }
    .section4 .inner-sec4 .sec4-right-box {
        width: 100%;
        height: 70%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text .href-box input[type=button] {
        width: 140px;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text p.logo-text {
        font-size: 42px;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec4 .sec4-right-box .sec4-right-text p.logo-text {
        text-align: center;
    }
    .inner-sec4 .sec4-left-box .sec4-left-img {
        background-size: 124% 100%;
    }
    .section5 .inner-sec5 {
        padding: 0 10px;
    }
    .section5 .inner-sec5 .sec5-left-box {
        width: 80%;
        height: 30%;
    }
    .section5 .inner-sec5 .sec5-right-box {
        width: 100%;
        height: 70%;
        padding: 0;
        justify-content: space-between;
    }
    .inner-sec5 .sec5-right-box .sec5-right-text {
        width: 100%;
        padding: 0 80px;
        margin: 0;
        box-sizing: border-box;
    }
    .inner-sec5 .sec5-right-box .sec5-right-text p.logo-text {
        text-align: center;
    }
    .inner-sec5 .sec5-left-box .sec5-left-img {
        background-size: 100% 90%;
    }
    .section6 .inner-sec6 {
        justify-content: center;
        padding: 0;
    }
    .section6 .inner-sec6 .sec6-left-box {
        width: 90%;
        height: 50%;
        border-bottom: 1px solid #eee;
        border-right: 0;
        box-sizing: border-box;
        padding: 165px 0;
    }
    .section6 .inner-sec6 .sec6-right-box {
        width: 100%;
        height: 50%;
        padding: 147px 0;
        box-sizing: border-box;
    }
}