@charset "uft-8";
@import url(../css/section1.css);
@import url(../css/section2.css);
@import url(../css/section3.css);
@import url(../css/section4.css);
@import url(../css/section5.css);
@import url(../css/section6.css);
@import url(../css/header.css);
@import url(../css/media.css);
body {
    font-family: sans-serif;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#wrap {
    width: 100%;
    height: 100%;
}

.inner-wrap {
    width: 100%;
    height: 600%;
}

.inner-wrap .sec {
    width: 100%;
    height: 16.6666%;
}