@charset "uft-8";
.section3 {
    position: relative;
    top: 0;
    left: 0;
}

.inner-sec3 {
    width: 100%;
    height: 100%;
    border: 0px solid #000;
    display: flex;
    padding: 160px 100px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.inner-sec3 .sec3-left-box {
    width: 60%;
    height: 100%;
    border: 0px solid #000;
    position: relative;
    left: -2000px;
}

.inner-sec3 .sec3-left-box.active {
    left: 0;
    transition: ease left 0.5s;
}

.inner-sec3 .sec3-left-box .sec3-left-img {
    width: 100%;
    height: 100%;
    background: url(../img/clova.png) no-repeat 50%;
    background-size: 100% 100%;
    vertical-align: middle;
}

.inner-sec3 .sec3-right-box {
    width: 40%;
    height: 100%;
    border: 0px solid #000;
    opacity: 0;
}

.inner-sec3 .sec3-right-box.active {
    opacity: 1;
    transition: ease all 1s;
}

.inner-sec3 .sec3-right-box .sec3-right-text {
    width: 100%;
    height: 100%;
    padding: 89px 168.22px;
    box-sizing: border-box;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.logo-text {
    margin-bottom: 45px;
    font-size: 45px;
    font-weight: bold;
}

.inner-sec3 .sec3-right-box .sec3-right-text p {
    text-align: left;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.sec3-text1 {
    font-size: 28px;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.sec3-text2 {
    font-size: 14px;
    margin-bottom: 20px;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.sec3-text3 {
    font-size: 16px;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.sec3-text4 {
    font-size: 16px;
    margin-bottom: 20px;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.sec3-text5 {
    font-size: 16px;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.sec3-text6 {
    font-size: 16px;
}

.inner-sec3 .sec3-right-box .sec3-right-text p.sec3-text7 {
    font-size: 16px;
}

.inner-sec3 .sec3-right-box .sec3-right-text .href-box {
    width: 320px;
    height: auto;
    border: 0px solid;
    margin-top: 25px;
}

.inner-sec3 .sec3-right-box .sec3-right-text .href-box input[type=button] {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #151515;
    color: #fff;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}

.inner-sec3 .sec3-right-box .sec3-right-text .href-box input[type=button]:hover {
    background: #06d685;
    border: #06d685;
    color: #fff;
}

.inner-sec3 .sec3-right-box .sec3-right-text .href-box input.no1 {
    margin: 0;
}